.tile-score {
    background: gold !important;
    color: black;
}

.tile-multiply {
    background: orange !important;
    color: white;
}

.tile-extra_hint {
    background: limegreen !important;
    color: white;
}

.tile-time {
    background: rgb(34, 75, 255) !important;
    color: white;
}

.tile-freeze {
    background: violet !important;
    color: white;
}

.cell[class*="tile-"] {
    animation: pulseTile 1s infinite;
    border-radius: 6px;
}

.floating-effect {
    position: absolute;
    z-index: 9999;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    animation: floatUp 1s ease-out forwards;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

@keyframes pulseTile {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
